<!-- 把header移到同層includes資料夾裡的header.ejs再從那邊相連 -->
<%- include('./includes/header') %>
<!-- 連結styles裡的main.css樣式 -->
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <!-- 網頁從html改成ejs檔案 -->
    <div class="container-md">
        <div class="alert alert-danger" role="alert">
            Oops! Page not found
        </div>
    </div>
    
    
</body>
</html>